.parent {
	width: 100%;
    height: 100%;
	padding-top:50px;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;  
}

.block {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
    
    img {
        display: block;
        border: none;
    }
}

.404pic {
}

.back {
	margin: auto;
	color: #2c95dd;
	background-color: #ddd;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 15px;
	border-radius: 3px;
	padding: 5px;
}

.login h3 {
	font-family: sans-serif;
	font-size: 15pt;
	color: #2c95dd;
	padding-bottom: 15px;
	font-weight: normal;
}

.login h2 {
    font-family: sans-serif;
    font-size: 15pt;
    color: #2c95dd;
    padding-bottom: 15px;
    font-weight: normal;
}

.smile {
    font-family: serif;
    font-size: 195pt;
    color: #2c95dd;
    font-weight: bold;
    transform: rotate(0deg);
    transition:all 700ms; 
}

.smile:hover {
    transform: rotate(180deg)
}
