 .profile {
 	padding-top: 20px;
 	padding-left: 20px;
 	padding-right: 20px;
 	padding-bottom: 40px;
 	border-radius: 4px;
 	background-color: #fff;
 	overflow: auto;
 }

 .profile .avatar {
 	max-width: 200px;
 }

 .profile .picture {
 	float: left;
 	width: 200px;
 	height: 200px;
 	border: ridge;
 	border-color: #ccc;
 	border-width: 1px;
 }

 .profile .picknbutton {
 	float: left;
 	min-width: 202px;
 	width: 17%;
 	margin-right: 30px;

 } 

 .profile .name {
 	text-align: right;
 	font-family: sans-serif;
 	font-size: 15pt;
 	color: #2c95dd;
 	font-weight: bold;
 	text-transform: uppercase;
 	width: 100%;
 	border-bottom: ridge;
 	border-color: #636363;
 	border-width: 1px;
 	margin-bottom: 10px;
 }

 .profile .about {
 	float: left;
 	width: 75%;
 	font-family: sans-serif;
 	font-size: 10pt;
 }

 .profile .info h2{
 	margin-top: 0;
 	margin-bottom: 1px;
 	font-family: sans-serif;
 	font-size: 10pt;
 }

 .profile .info p {
 	padding: 0;
 	margin: 0;
 }

 .profile .info a {
 	color: #000;
 	font-style: italic;
 }

 .profile b {
 	font-size: 15pt;
 	font-weight: normal;
 	padding-right: 25px;
 }

 .blanket h1 {
 	margin-top: 20px;
 	margin-bottom: 10px;
 	font-family: sans-serif;
 	font-size: 15pt;
 	color: #2c95dd;
 }

 .blanket p {
 	padding: 0;
 	margin: 0;
 	margin-top: 5px;
 	font-style: italic;
 }

 .inputfile {
	width: 90px;
 	margin-top: 10px;
 }

 .blanketInfo {
 	font-size: 11pt;
 	font-color: #111;
 	padding-left: 90px;
 }

 .right {
 	text-align: right;
 	padding-right:0;
 }

.blanketInfo .header {
 	text-align: left;
 	font-family: sans-serif;
 	font-size: 13pt;
 	color: #2c95dd;
 	font-weight: normal;
 	text-transform: uppercase;
 	border-bottom: ridge;
 	border-color: #636363;
 	border-width: 1px;
 	margin-bottom: 10px;
	padding: 0;
 	background-color: #fff;
	height: 14pt;
 }
 
.blanketInfo .info {
 	font-size: 11pt;
 	font-color: #111;
 	padding-left: 90px;
 	background-color: #fff;
 }
