.dash {
	height: 80vh;
	overflow-y: scroll;
}

.dashimg {
	max-width:50%;
	min-width:30%;
}

.adminpanel button {
	width:100%;
}

.dash button, .dash textarea, .dash input {
	width:100%;
}
/*
html {
	overflow-x: hidden;
}
*/


/*FEATURETTE*/
.featurette-image.pull-left {
    margin-right: 40px;
}

.img-resizer img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  border-radius: 10px;
}