body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #F1F3FA;
}

.header {
	background-color: #4e5052;
	height: 60px;
	margin-bottom: 15px;
}

.header .picture {
	float: left;
	padding:0;
	margin: 0;
	height:100px;
	width:90px;
	background-repeat: no-repeat;
	background-image: url(../images/EMC-Tab-Special-Use-Top.png);
	background-size: 100%;
}

.header .menu {
	float: left;
	margin-left: 40px;
	margin-top: 10px;
	font-family: sans-serif;
}

.header .menu .item {
	float: left;
	width: 140px;
	font-size: 12pt;
	color: #ffffff;
}

.header .menu .exit {
	float: left;
	width: 140px;
	font-size: 12pt;
	color: #ffffff;
}

.header .reg-form {
	float: right;
	margin-top: 10px;
	width: 140px;
	font-family: sans-serif;
	font-size: 12pt;
	color: #ffffff;
}

.header a {
	font-family: sans-serif;
	font-size: 12pt;
	color: #babcbe;
	text-decoration: none;
}

.header a:hover {
	color: #ffffff;
}

.emc-blue-color {
	background: #2c95dd;
}

.emc-white-color {
	background: #ffffff;
}

.emc-grey-color {
	background: #babcbe;
}

.emc-black-color {
	background: #000000;
}