.login {
	margin-top: 45px;
	padding-top: 50px;
}

.login h1 {
	font-family: sans-serif;
	font-size: 21pt;
	color: #2c95dd;
	text-transform: uppercase;
}

.line {
	width: 100%;
	background-color: #636363;
	height: 1px;
	margin-bottom: 10px;
}

.login .bottom-border {
	padding-bottom: 10px;
	border-bottom: ridge;
	border-color: #636363;
	border-width: 1px;
}

.pager {;
	padding: 0px;
	margin: 8px;
}

.pager li > a {
	border-radius: 3px;
}

.login .main {
	font-family: sans-serif;
	font-size: 13pt;
	color: #000;
	padding-top: 15px;
	margin-bottom: 10px;
}

.login a {
	font-family: sans-serif;
	font-size: 12pt;
	color: #000;
}

.login .links p {
	margin:0;
}

.forms p {
	font-size: 12pt;
	font-style: italic;
	margin-bottom: 2px;
	font-family: sans-serif;
}

.forms input {
	font-size: 15pt;
}

.forms input[type="radio"] {
	width: auto;
}

.forms .e-mail {
	text-transform: lowercase;
}

.forms #button {
	text-transform: uppercase;
	font-size: 13pt;
	transition:all 500ms; 
}

.forms #button:hover {
	border:1px solid #b9d4e9;
    border-top-color:#b6d5ea;
    border-bottom-color:#b8d4ea;
    box-shadow:0 0 5px #b9d4e9;
    transition:all 500ms; 
}

.forms #button[disabled] {
	text-transform: uppercase;
	font-size: 13pt;
	color: #ddd;
}

.forms input {
	padding: 0 7px 0 7px;
    border:1px solid #d5d9da;
    border-radius: 3px;
    box-shadow: 0 0 5px #e8e9eb inset;
    color: #2c95dd;
    font-size:1em;
    background-color: #fff;
    outline:0; /* remove webkit focus styles */
}

.forms input:focus {
    border:1px solid #b9d4e9;
    border-top-color:#b6d5ea;
    border-bottom-color:#b8d4ea;
    box-shadow:0 0 5px #b9d4e9;
}

.input-group {
	margin-top: 10px;
	margin-bottom: 10px;
}

.input-group-addon {
	border-radius: 3px;
}

#button {
	margin-top:6px;
}