.ontop {
    background:#F1F3FA;
    margin-top:5%;
    padding:15px;
    border-radius: 3px;
    border: 1px outset #ffffff;
}

.buttons-panel {
    padding-right:15px;
}

.not-control-label {
    padding-top:7px;
}

.modalimg {
    width:100%;
    max-height:250px;
    margin-bottom:5px;
}

.avatar {
    margin-bottom:5px;
}

.crutch {
    padding-right:15px;
}

.col-sm-9, .row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.selector {
    margin-bottom:5px;
}

.a-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}