.forms ul, li {
    margin:0;
    padding:0;
    list-style-type:none;
}

.forms .marg {
	margin-bottom: 25px;
}

form ul li {
    margin: 10px 20px;
}

#pswd_info {
    right:55px;
    width:250px;
    padding:0px;
    background:#fefefe;
    font-size:.875em;
    border-radius:3px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
    margin-top: 8px;
}

#pswd_info h4 {
    margin:0 0 10px 5px;
    padding:0;
    font-weight: normal;
}

#pswd_info::before {
    content: "\25B2";
    position:relative;
    top:-12px;
    left:50%;
    font-size:14px;
    line-height:14px;
    color:#ccc;
    text-shadow:none;
    display:block;
}

#email_info, #name_info {
    width:250px;
    padding:0px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
    margin-top: 8px;
}

#email_info::before, #name_info::before {
    content: "\25B2";
    position:relative;
    top:-12px;
    left:50%;
    font-size:14px;
    line-height:14px;
    color:#ccc;
    text-shadow:none;
    display:block;
}

#email_info, #name_info {
    display:none;
}

.invalid {
    line-height:24px;
    color:#ec3f41;
}

.valid {
    line-height:24px;
    color:#3a7d34;
}

#pswd_info {
    display:none;
}