.widthContainer {
	max-width: 200px;
	width:17%;
	float: left;
	border: solid;
	border-color: #ccc;
	border-width: 1px;
}

.pictureContainer {
	overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.avatarPicture {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition:all 500ms; 
}

.picknbutton {
	float: left;
	min-width: 202px;
	width: 17%;
	margin-right: 30px;
}

.info p {
	padding: 0;
	margin: 0;
}

.info a {
	color: #000;
	font-style: normal;
	border-bottom: double;
}

.blanket p {
	padding: 0;
	margin: 0;
	margin-top: 5px;
	font-weight: bold;
}

.visible {
	visibility: none;
}

.invisible {
	visibility: hidden;
}

#button {
	color: #2c95dd;
	text-transform: uppercase;
	font-size: 13pt;
	transition:all 500ms; 
}

#button:hover {
	border:1px solid #b9d4e9;
    border-top-color:#b6d5ea;
    border-bottom-color:#b8d4ea;
    box-shadow:0 0 5px #b9d4e9;
    transition:all 500ms; 
}

#button[disabled] {
	text-transform: uppercase;
	font-size: 13pt;
	color: #ddd;
}

input {
	padding: 0 7px 0 7px;
    border:1px solid #d5d9da;
    border-radius: 3px;
    box-shadow: 0 0 5px #e8e9eb inset;
    color: #2c95dd;
    font-size:1em;
    background-color: #fff;
    outline:0; /* remove webkit focus styles */
}

input:focus {
    border:1px solid #b9d4e9;
    border-top-color:#b6d5ea;
    border-bottom-color:#b8d4ea;
    box-shadow:0 0 5px #b9d4e9;
}
