@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

.mb20 { margin-bottom: 20px; } 

hgroup {
	padding-left: 15px;
	border-bottom: 1px solid #ccc;
}
hgroup h1 {
	font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif;
	color: #2a3644;
	margin-top: 0;
	line-height: 1.15;
}
hgroup h2.lead {
	font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif;
	color: #2a3644;
	margin: 0;
	padding-bottom: 10px;
}


.search-result:first-child {
	margin-top: 0 !important;
}
.search-result {
	margin-top: 20px;
}
.search-result .col-md-2 {
	min-height: 140px;
}
.search-result ul {
	padding-left: 0 !important;
	list-style: none; 
}
.search-result ul li {
	font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;
	line-height: 20px;
}
.search-result ul li i {
	padding-right: 5px;
}
.search-result h3 {
	font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif;
	margin-top: 0 !important;
	margin-bottom: 10px !important;
}
.search-result h3 > a, .search-result i {
	color: #248dc1 !important;
}
.search-result p {
	font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif;
} 
.search-result span.plus {
/*	position: absolute;*/
	right: 0; top: 126px;
}
.search-result span.plus a {
	background-color: #248dc1;
	padding: 5px 5px 3px 5px;
}
.search-result span.plus a:hover {
	background-color: #414141;
}
.search-result span.plus a i {
	color: #fff !important;
}
.search-result span.border {
	display: block;
	width: 99%;
	margin: 0 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}

.search-header {
  font-size:16px;
  padding-top: 8px;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/*STOLEN FROM TIMELINE*/
.search-content {
  padding: 20px;
  padding-top:0px;
  padding-bottom:0px;
  background: #fff;
  min-height: 200px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.search-content > .page-header {
  margin-top:0px;
}

.search {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  padding-bottom: 0;
}

.search > li {
  margin-bottom: 20px;
  position: relative;
}

.search > li > div + div {
	min-height: 200px;
	max-height: 500px;
}


/*my own creatures :)*/
.search > li:not([style*="display: none"]):last-child	{
	padding-bottom: 5px;
}
.search > li:not([style*="display: none"]):last-child span.border {
	display: none;
}

.search-result img {
  width:100%;
  margin-bottom:10px;
  min-height: 100px;
  max-height:100%;
}

.search-result h3 .btn-group {
	margin-right:15px;
}