<!doctype html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">        
	<title>EMC mentoring program</title> 

	<base href="/">

	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="css/header-style.css" type="text/css">
	<link rel="stylesheet" href="css/login-style.css" type="text/css">
	<link rel="stylesheet" href="css/404-style.css" type="text/css">

</head>

<body>
<!-- header -->
<div class="container-fluid">
	<div class="row">
		<div class="header">	
			<div class="col-sm-1"></div> <!-- for padding -->
			<div class="col-sm-9">
				<div class="picture">
				</div>
				<div class="menu">
					<div class="item">
						<a href="/"> Start page </a>
					</div>
					<div class="item">
						<a href="about.html"> About program </a>
					</div>
					<div class="item">
						<a href="https://www.emc.com"> About EMC </a>
					</div>          
				</div>
			</div>
		</div>
	</div>
</div>
<!-- header ends -->

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4"></div> <!-- for padding -->
		<div class="col-sm-6">
			<div class="block">
				<h3> Welcome, {{ .Name }}!</h3>
				<h2> Email was sent to {{ .Email }}, please confirm </h2>
			</div>
			<div class="block">
				<image src="images/Welcome.jpg" alt="Welcome"></image>
			</div>
		</div>
	</div>
</div>
</body>