{{ define "dash_timeline" }}
		{{ $UserRef := .User }}

		<div class="col-md-9">
			<div class="timeline-content">

				 <!--TIMELINE GOES HERE-->
				<div class="row page-header">
					<div class="col-md-6">
						<div class="timeline-header">
							What's new?
						</div>
					</div>
					{{ if eq .User.RoleID 0 }}
					<div class="col-md-6">
						<div class="profile-timelinebuttons">
							<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#newbroadcast" data-original-title><span class="glyphicon glyphicon-bullhorn"></span> New Broadcast</button>
							<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#newevent" data-original-title><span class="glyphicon glyphicon-calendar"></span> New Event</button>
						</div>
					</div>
					{{ end }}
					{{ if or (eq .User.RoleID 5) (eq .User.RoleID 7)}}
					<div class="col-md-6">
						<div class="profile-timelinebuttons">
							<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#newbroadcast" data-original-title><span class="glyphicon glyphicon-bullhorn"></span> Suggest Broadcast</button>
							<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#newevent" data-original-title><span class="glyphicon glyphicon-calendar"></span> Suggest Event</button>
						</div>
					</div>
					{{ end }}
				</div>

				<ul class="timeline">
					{{ range $index, $element := .Events }}
					{{ if eq $element.EventType 1 }}
					<!--EVENT TEMPLATE-->
					{{ if lt $index 5}}
					<li class="timeline-inverted" id="timeline-inverted-{{ $index }}">
					{{ else }}
					<li class="timeline-inverted" id="timeline-inverted-{{ $index }}" style="display: none;">
					{{ end }}
						<div class="timeline-badge info">
							<span class="date">
								<span id="date{{ $element.EventID }}">{{ $element.GetDate }}</span>
							</span>
						</div>
						<div class="timeline-panel">
							<input type="hidden" name="eventid" value="{{ $element.EventID }}">
							<input id="rawdate{{ $element.EventID }}" type="hidden" value="{{ $element.Date }}">
							<div class="timeline-heading">
								<h4 id="subject{{ $element.EventID }}" class="timeline-title">{{ $element.Subject }}</h4>
								<p><small class="text-muted"><span class="glyphicon glyphicon-time"></span>{{ $element.GetAddDate }}</small></p>
							</div>
							<div class="timeline-body">
								<div class="row">
									<div class="col-md-4">
										<a href="{{ $element.PhotoURL }}"><img id="photourl{{ $element.EventID }}" class="featurette-image img-rounded	pull-left" src="{{ $element.PhotoURL }}"></a>
									</div>
									<div class="col-md-8">
										<p class="body-text" id="body{{ $element.EventID }}">{{ $element.Body }}</p>
									</div>
								</div>
								<p>Lector: <a href="dash.html/userid={{ $element.LectorID }}">{{ $element.LectorName }}</a></p>
									<input type="hidden" id="lectorid{{ $element.EventID }}" value="{{ $element.LectorID }}">
									{{ if $element.Files }}
								<p id="attachments{{ $element.EventID }}">Attachments: 
									{{ range $element.Files }}
									<a id="file{{ .FileID }}" href="{{ .Link }}">{{ .Name }}</a>
									{{ end }}
								</p>
									{{ end }}
							</div>
							
							{{ if eq $UserRef.RoleID 0 }}
							<hr>
							<div class="btn-group">
								<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
									<i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a data-toggle="modal" data-target="#editevent" data-original-title class="editlink editeventforJS">Edit</a></li>
									<li><a href="deleteevent/eventid={{ $element.EventID }}">Delete</a></li>
								</ul>
							</div>
							{{ end }}
						</div>
					</li>

					{{ else }}	<!--BROADCAST TEMPLATE-->
					{{ if lt $index 5}}
					<li class="timeline-inverted" id="timeline-inverted-{{ $index }}">
					{{ else }}
					<li class="timeline-inverted" id="timeline-inverted-{{ $index }}" style="display: none;">
					{{ end }}
						{{ if eq $element.Pinned true}}
						<div class="timeline-badge timeline-badge-little warning"><i class="glyphicon glyphicon-exclamation-sign"></i></div>
						{{ else }}
						<div class="timeline-badge timeline-badge-little warning"><i class="glyphicon glyphicon-info-sign"></i></div>
						{{ end }}
						<div class="timeline-panel">
							<input type="hidden" name="eventid" value="{{ $element.EventID }}">
							<div class="timeline-heading">
								<h4 id="subject{{ $element.EventID }}" class="timeline-title">{{ $element.Subject }}</h4>
								<p><small class="text-muted"><span class="glyphicon glyphicon-time"></span>{{ $element.GetAddDate }}</small></p>
							</div>
							<div class="timeline-body">
								<p class="body-text" id="body{{ $element.EventID }}">{{ $element.Body }}</p>
							</div>
							{{ if eq $UserRef.RoleID 0 }}
							<hr>
							<div class="btn-group">
								<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
									<i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									{{ if eq $element.Pinned true}}
									<li><a href="unpinevent/eventid={{ $element.EventID }}">Unpin</a></li>
									{{ else }}
									<li><a href="pinevent/eventid={{ $element.EventID }}">Pin</a></li>
									{{ end }}
									<li><a data-toggle="modal" data-target="#editbroadcast" data-original-title class="editlink editbroadcastforJS">Edit</a></li>
									<li><a href="deleteevent/eventid={{ $element.EventID }}">Delete</a></li>
								</ul>
							</div>
							{{ end }}
						</div>
					</li>
					{{ end }}
					{{ end }}
				</ul>
				<!--TIMELINE END-->
			</div>
		</div>
{{ end }}