{{ define "dash_addmodal" }}
		<!--NEW BROADCAST FORM-->
		<div class="row modal fade" id="newbroadcast" tabindex="-1" role="dialog" aria-labelledby="newbroadcastLabel" aria-hidden="true">
			<div class="col-md-4 col-md-offset-4">
				<form id="broadcastform" enctype="multipart/form-data"  method="post" class="form-horizontal ontop" role="form">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

					<fieldset>
						<!-- Form Name -->
						<legend>Broadcast details</legend>

						<input type="hidden" name="eventtype" value="2">

						<!-- Subject Input -->
						<div class="form-group">
							<label class="col-sm-2 col-sm-offset-1 control-label" for="textinput">Subject:</label>
				 			<div class="col-sm-9">
				 				<input type="text" placeholder="Subject" name="subject" class="necessaryfield form-control">
				 			</div>
			 			</div>

			 			<!-- Body Input -->
			 			<div class="form-group">
				 			<label class="col-sm-2 col-sm-offset-1 control-label" for="textinput">Description:</label>
				 			<div class="col-sm-9">
				 				<textarea type="text" placeholder="Say something :)" name="body" class="necessaryfield form-control"></textarea>
				 			</div>
			 			</div>

			 			<!-- Buttons -->
			 			<div class="form-group buttons-panel">
				 			<div class="col-sm-offset-2 col-sm-10">
				 				<div class="pull-right">
					 				<button type="submit" formaction="formcancel" class="btn btn-default" >Cancel</button>
					 				<button type="submit" id="sendbroadcast" formaction="sendevent" class="btn btn-primary">Save</button>
				 				</div>
				 			</div>
			 			</div>

			 		</fieldset>
		 		</form>
	 		</div>
	 	</div><!-- /.col-lg-12 -->
		<!--END NEW BROADCAST FORM-->

		<!--NEW EVENT FORM-->
		<div class="row modal fade" id="newevent" tabindex="-1" role="dialog" aria-labelledby="neweventLabel" aria-hidden="true">
			<div class="col-md-8 col-md-offset-2">

				<form id="eventform" enctype="multipart/form-data" action="sendevent" method="post" class="form-horizontal ontop" role="form">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

					<fieldset>

						<!-- Form Name -->
						<legend>Event details</legend>

						<input type="hidden" name="eventtype" value="1">

						<!-- Subject Input -->
						<div class="form-group">
							<label class="col-sm-2 col-sm-offset-1 control-label" for="textinput">Subject:</label>
				 			<div class="col-sm-9">
				 				<input type="text" placeholder="Subject" name="subject" class="necessaryfield form-control">
				 			</div>
			 			</div>

			 			<!-- Text input + Photo-->
			 			<div class="form-group row-eq-height">
			 				<div class="col-sm-2 col-sm-offset-1">
								<div class="row">
									<div class="col-sm-offset-1 col-sm-10">
										<img id="image" class="modalimg col-sm-12 img-rounded" src="images/profilePhoto/NoPhoto.jpeg" alt="">
									</div>
								</div>
								<div class="row">
									<div class="col-sm-offset-1 col-sm-10">
										<input id="imgInput" title="Choose photo" type="file" name="photo" accept="image/*" data-filename-placement="inside" class="avatar form-control btn-primary">
										<script type="text/javascript">
											$('#imgInput').change(function(){	
												readURL(this, "#image");
											});
										</script>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-offset-1 col-sm-10">
					 					<select class="necessaryfield form-control selector" name="lector">
											<option disabled>
					 							Lector?
					 						</option>
					 						{{ range .Lectors.Users }}
											<option value="{{ .UserID }}">
												{{ .Name }}
											</option>
											{{ end }}
					 					</select>
										<input type="text" id="datepicker" name="date" placeholder="Date" class="necessaryfield form-control">
									</div>
								</div>
			 				</div>
			 				<div class="col-sm-9">
			 					<textarea type="text" placeholder="Description" name="body" class="necessaryfield form-control body-field row-eq-height"></textarea>
			 				</div>
			 			</div>

			 			<div class="form-group">
			 				<div class="col-sm-offset-1 col-sm-11">
			 					<div class="row" style="padding-right:15px;">
			 						<label class="control-label" for="textinput">Attachments (opt.):</label>
			 						<input id="attachments" name="attachments[]" type="file" class="file" multiple data-show-upload="false" data-show-caption="true">
			 					</div>
			 				</div>
			 			</div>
			 				

			 			<div class="form-group buttons-panel">
				 			<div class="col-sm-offset-2 col-sm-10">
				 				<div class="pull-right">
					 				<button type="submit" formaction="formcancel" class="btn btn-default">Cancel</button>
					 				<button type="submit" id="sendevent" formaction="sendevent" class="btn btn-primary">Save</button>
				 				</div>
				 			</div>
			 			</div>

			 		</fieldset>
		 		</form>
		 	</div>
		 	<div class="col-md-2"></div>
	 	</div><!-- /.col-lg-12 -->
		<!--END NEW EVENT FORM-->
{{ end }}