{{ define "dash_controlmodal" }}
	<!--CHANGE PASSWORD FORM-->
		<div class="row modal fade" id="changepassword" tabindex="-1" role="dialog" aria-labelledby="changepasswordLabel" aria-hidden="true">
			<div class="col-md-8 col-md-offset-2">
				<form id="changepasswordform" method="post" class="form-horizontal ontop" role="form">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

					<fieldset>
						<!-- Form Name -->
						<legend>Change Password</legend>

						<input type="hidden" name="email" value="{{ .User.Email }}">

						<div class="form-group">
							<span class="col-sm-10 col-sm-offset-1"><b>Remember, that password should be longer than 6 symbols and should contain of both english letters and numbers</b></span>
						</div>

						<!-- Old PWD Input -->
						<div class="form-group">
							<label class="col-sm-2 col-sm-offset-1 control-label" for="oldpassword">Old password:</label>
					 		<div class="col-sm-9">
					 			<input type="password" placeholder="Enter old password" name="oldpassword" class="necessaryfield form-control" id="oldpassword">
					 		</div>
				 		</div>

				 		<!-- New PWD Input -->
						<div class="form-group">
							<label class="col-sm-2 col-sm-offset-1 control-label" for="newpassword">New password:</label>
					 		<div class="col-sm-9">
					 			<input type="password" placeholder="Enter new password" name="newpassword" class="necessaryfield form-control" id="newpassword">
					 		</div>
				 		</div>

				 		<!-- New PWD Input -->
						<div class="form-group">
							<label class="col-sm-2 col-sm-offset-1 control-label" for="repeatpassword">Repeat password:</label>
					 		<div class="col-sm-9">
					 			<input type="password" placeholder="Repeat new password" name="repeatpassword" class="necessaryfield form-control" id="repeatpassword">
					 		</div>
				 		</div>

				 		<!-- Buttons -->
				 		<div class="form-group buttons-panel">
					 		<div class="col-sm-offset-2 col-sm-10">
					 			<div class="pull-right">
						 			<button type="submit" formaction="formcancel" class="btn btn-default" >Cancel</button>
						 			<button type="submit" id="sendchangepassword" formaction="changepassword" class="btn btn-primary">Save</button>
					 			</div>
					 		</div>
				 		</div>

				 	</fieldset>
				</form>
			</div>
			<div class="col-md-2"></div>
		</div>
	<!--END CHANGE PASSWORD FORM-->

{{ end }}