{{ define "dash_profile" }}
		<div class="col-md-3">
			<div class="profile-sidebar">
				<div class="page-header">
					<div class="profile-userlabel">
						You:
					</div>
				</div>
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="{{ .User.PhotoURL }}" class="img-responsive img-rounded" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{ if eq .User.SurName "No surname" }}
							{{ .User.Name }}
						{{ else }}
							{{ .User.Name }} {{ .User.SurName }}
						{{ end }}
					</div>
					<hr>
					<div class="profile-usertitle-info">
						Working as:	{{ .User.RoleStr }}
					</div>
					<div class="profile-usertitle-info">
						Birthdate:	{{ .User.BD }}
					</div>
					<div class="profile-usertitle-info">
						Email:		{{ .User.Email }}
					</div>
					<div class="profile-usertitle-info">
						University:	{{ .User.University }}
					</div>
					<div class="profile-usertitle-info">
						Job:		{{ .User.Job }}
					</div>
					<div class="profile-usertitle-info">
						Gender:		{{ .User.Sex }}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				{{ if eq .User.RoleID 0 }}
				{{ if eq .ProgramStarted false }}
				<hr>
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#startprogram" data-original-title><i class="glyphicon glyphicon-off"></i> Start program</button>
				</div>
				{{ else }}
				<hr>
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#finishprorgam" data-original-title><i class="glyphicon glyphicon-off"></i> Finish program</button>
				</div>
				{{ end }}
				{{ end }}
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<hr>
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="application.html">
							<i class="glyphicon glyphicon-edit"></i>
							Edit my profile </a>
						</li>
						<li>
							<a data-toggle="modal" data-target="#changepassword" data-original-title href="#changepassword">
							<i class="glyphicon glyphicon-lock"></i>
							Change password </a>
						</li>
						{{ if eq .User.RoleID 0 }}
						<li>
							<a data-toggle="modal" data-toggle="modal" data-target="#newuser" data-original-title href="#newuser">
							<i class="glyphicon glyphicon-plus-sign"></i>
							Add new user </a>
						</li>
						<li>
							<a href="search.html">
							<i class="glyphicon glyphicon-sort"></i>
							Edit user or delete him </a>
						</li>
						<li>
							<a href="changepair.html">
							<i class="glyphicon glyphicon-random"></i>
							Change pair </a>
						</li>
						{{ end }}
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
{{ end }}