{{ define "dash_editmodal" }}
		<!--EDIT BROADCAST FORM-->
		<div class="col-md-4 col-md-offset-4 modal fade" id="editbroadcast" tabindex="-1" role="dialog" aria-labelledby="newbroadcastLabel" aria-hidden="true">
			<form id="editbroadcastform" enctype="multipart/form-data" action="editbroadcast" method="post" class="form-horizontal ontop" role="form">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				<fieldset>
					<!-- Form Name -->
					<legend>Edit Broadcast details</legend>

					<input type="hidden" name="editeventtype" value="2">
					<input type="hidden" name="editeventid" id="editbroadcastid" value="">

					<!-- Text input-->
					<div class="form-group">
						<label class="col-sm-2 col-sm-offset-1 control-label" for="textinput">Subject:</label>
						<div class="col-sm-9">
							<input id="editbroadcastsubject" type="text" placeholder="Subject" name="editsubject" class="necessaryfield form-control">
						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-sm-2 col-sm-offset-1 control-label" for="textinput">Body:</label>
						<div class="col-sm-9">
							<textarea id="editbroadcastbody" type="text" placeholder="Body" name="editbody" class="necessaryfield form-control"></textarea>
						</div>
					</div>

					<div class="form-group buttons-panel">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="pull-right">
								<button type="submit" formaction="formcancel" class="btn btn-default">Cancel</button>
								<button type="submit" id="editbroadcastbutton" formaction="editevent" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>

				</fieldset>
			</form>
		</div><!-- /.col-lg-12 -->
		<!--END EDIT BROADCAST FORM-->

		<!--EDIT EVENT FORM-->
		<div class="row modal fade" id="editevent" tabindex="-1" role="dialog" aria-labelledby="neweventLabel" aria-hidden="true">
			<div class="col-md-8 col-md-offset-2">

				<form id="editeventform" enctype="multipart/form-data" action="editevent" method="post" class="form-horizontal ontop" role="form">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

					<fieldset>

						<!-- Form Name -->
						<legend>Edit Event details</legend>

						<input type="hidden" name="editeventtype" value="1">
						<input type="hidden" name="editeventid" id="editeventid">
						<input type="hidden" name="newimage" value="0" id="newimageid">

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-2 col-sm-offset-1 control-label" for="textinput">Subject:</label>
							<div class="col-sm-9">
								<input id="editeventsubject" type="text" placeholder="Subject" name="editsubject" class="necessaryfield form-control">
							</div>
						</div>

						<!-- Text input + Photo-->
						<div class="form-group row-eq-height">
							<div class="col-sm-2 col-sm-offset-1">
								<div class="row">
									<div class="col-sm-offset-1 col-sm-10">
										<img id="editeventimage" class="modalimg col-sm-12 img-rounded" src="images/profilePhoto/NoPhoto.jpeg" alt="">
									</div>
								</div>
								<div class="row">
									<div class="col-sm-offset-1 col-sm-10">
										<input id="editeventimgInput" title="Choose photo" type="file" name="editphoto" accept="image/*" data-filename-placement="inside" class="avatar form-control btn-primary">
										<script type="text/javascript">
											$('#editeventimgInput').change(function(){
												readURLedited(this, "#editeventimage", "#newimageid");
											});
										</script>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-offset-1 col-sm-10">
										<select id="editeventlector" class="necessaryfield form-control selector" name="editlector">
											<option disabled>
												Lector?
											</option>
											{{ range .Lectors.Users }}
											<option value="{{ .UserID }}">
												{{ .Name }}
											</option>
											{{ end }}
										</select>
										<input type="text" id="editeventdatepicker" name="editdate" placeholder="Date" class="necessaryfield form-control">
									</div>
								</div>
							</div>
							<div class="col-sm-9">
								<textarea id="editeventbody" type="text" placeholder="Body" name="editbody" class="necessaryfield form-control body-field row-eq-height"></textarea>
							</div>
						</div>

						<!-- Lector input + files-->
						<div class="form-group">
							<div class="col-sm-offset-1 crutch">
								<textarea type="text" placeholder="Here comes file uploader" class="form-control"></textarea>
							</div>
						</div>
						

						<div class="form-group buttons-panel">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="pull-right">
									<button type="submit" formaction="formcancel" class="btn btn-default">Cancel</button>
									<button type="submit" id="editeventbutton" formaction="editevent" class="btn btn-primary">Save</button>
								</div>
							</div>
						</div>

					</fieldset>
				</form>
			</div>
			<div class="col-md-2"></div>
		</div><!-- /.col-lg-12 -->
		<!--END EDIT EVENT FORM-->
{{ end }}