<!doctype html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">		
	<title>EMC mentoring program</title> 

	<base href="/">

	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="css/profile.css" type="text/css">
	<link rel="stylesheet" href="css/timeline.css" type="text/css">
	<link rel="stylesheet" href="css/header-style.css" type="text/css">
	<link rel="stylesheet" href="css/modals.css" type="text/css">
	<link rel="stylesheet" href="css/toggle.css" type="text/css">
	<link rel="stylesheet" href="css/necessary.css" type="text/css">
	<link rel="stylesheet" href="css/overflow-container.css" type="text/css">

	<link href="css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" > 
		if (typeof jQuery == 'undefined'){
			alert("Fuck JQuery")
			document.write(unescape("%3Cscript src='JS/JQuery/jquery-1.12.0.js' type='text/javascript'%3E%3C/script%3E"));
		}
	</script>
	<script type="text/javascript" src="JS/newUserValid.js"></script>
	<script type="text/javascript" src="JS/newPasswordValid.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<!-- canvas-to-blob.min.js is only needed if you wish to resize images before upload.
     	This must be loaded before fileinput.min.js -->
	<script src="JS/plugins/canvas-to-blob.min.js" type="text/javascript"></script>
	<!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
	     This must be loaded before fileinput.min.js -->
	<script src="JS/plugins/sortable.min.js" type="text/javascript"></script>
	<!-- purify.min.js is only needed if you wish to purify HTML content in your preview for HTML files.
	     This must be loaded before fileinput.min.js -->
	<script src="JS/plugins/purify.min.js" type="text/javascript"></script>
	<!-- the main fileinput plugin file -->
	<script src="JS/fileinput.min.js"></script>

	<script type="text/javascript" src="JS/scrollspy.js"></script>
	<script type="text/javascript" src="JS/scrollspy-impl-dash.js"></script>

	<script type="text/javascript" src="JS/bootstrap.js"></script>
	<script type="text/javascript" src="JS/calendarEvent.js"></script>
	<script type="text/javascript" src="JS/eventValid.js"></script>
	<script type="text/javascript" src="JS/putEventData.js"></script>
	<script type="text/javascript" src="JS/jqueryPhoto.js"></script>

	<!--New liner-->
	<script>
		$(document).ready(function() {
		    $('p').each(function() {
		    	$(this).html($(this).text().split("\n").join("<br>"));
		    });
		    /*instance for textarea is defined in putEventData.js*/
		});
	</script>

</head>

<body>

		<input type="hidden" value="{{ .User.RoleID }}">
<!-- header -->
<div class="container-fluid">
	<div class="row">
		<div class="header">	
			<div class="col-sm-1"></div> <!-- for padding -->
			<div class="col-sm-8">
				<div class="picture">
				</div>
				<div class="menu">
					<div class="item">
						<a href="/"> Start page </a>
					</div>
					<div class="item">
						<a href="about.html"> About program </a>
					</div>
					<div class="item">
						<a href="https://www.emc.com"> About EMC </a>
					</div>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="menu">
					<div class="item exit">
						<a href="/search.html"> Search </a>
					</div>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="menu">
					<div class="item exit">
						<a href="/exit"> Exit </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- header ends -->

<div class="container">
	<div class="row profile">
		{{ template "dash_profile" . }}
		
		{{ template "dash_timeline" . }}

		{{ if eq .User.RoleID 0 }}
			{{ template "dash_addmodal" . }}
			{{ template "dash_editmodal" . }}
			{{ template "dash_admincontrolmodal" . }}
		{{ end }}
		{{ if or (eq .User.RoleID 5) (eq .User.RoleID 7)}}
			{{ template "dash_addmodal" . }}
			{{ template "dash_editmodal" . }}
		{{ end }}
		
{{ template "dash_controlmodal" . }}
{{ template "dash_foot" . }}