<!doctype html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">        
	<title>EMC mentoring program</title> 

	<base href="/">

	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="css/header-style.css" type="text/css">
	<link rel="stylesheet" href="css/login-style.css" type="text/css">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" > 
	    if (typeof jQuery == 'undefined'){
	    	document.write(unescape("%3Cscript src='../JS/JQuery/jquery-1.12.0.js' type='text/javascript'%3E%3C/script%3E"));
	    }
	</script>
	<script src="JS/loginValid.js"></script>

</head>

<body>
<!-- header -->
<div class="container-fluid">
	<div class="row">
		<div class="header">	
			<div class="col-sm-1"></div> <!-- for padding -->
			<div class="col-sm-9">
				<div class="picture">
				</div>
				<div class="menu">
					<div class="item">
						<a href="/"> Start page </a>
					</div>
					<div class="item">
						<a href="about.html"> About program </a>
					</div>
					<div class="item">
						<a href="https://www.emc.com"> About EMC </a>
					</div>          
				</div>
			</div>
		</div>
	</div>
</div>
<!-- header ends -->

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2"></div> <!-- for padding -->
		<div class="col-sm-8">
			<div class="login">
				<div class="col-sm-2">
					<h1>
						LOGIN
					</h1>
				</div>
				<div class="col-sm-10">
					<nav>
						 <ul class="pager">
						    <li class="next"><a href="index.html">Register<span aria-hidden="true">&rarr;</span></a></li>
						</ul>
					</nav>
				</div>
				<div class="col-sm-12">
					<div class="line"></div>
					<div class="main">
						{{ .Content }} 
						<p>You can login here if you are mentor, mentee or consultant</p>
						<div class="forms">
							<form action="log" method="post" name="userName">
								<div class="input-group input-group">
	  								<span class="input-group-addon" id="sizing-addon2">@</span>
	  								<input type="text" name="email" class="e-mail resized form-control" maxlength="180" placeholder="" aria-describedby="sizing-addon2">
								</div>

								<div class="input-group input-group">
	  								<span class="input-group-addon" id="sizing-addon2">Password</span>
	  								<input type="password" name="pass" class="pass resized form-control" maxlength="60" placeholder="Use letters and numbers" aria-describedby="sizing-addon2">
								</div>

								<input type="submit" name="button" id="button" value="login">
							</form>
						</div>
					</div>
					<div class="line"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>