<!doctype html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">        
	<title>EMC mentoring program</title> 

	<base href="/">

	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="css/header-style.css" type="text/css">
	<link rel="stylesheet" href="css/application-style.css" type="text/css">
	<link rel="stylesheet" href="css/toggle.css" type="text/css">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" > 
	    if (typeof jQuery == 'undefined'){
	    	document.write(unescape("%3Cscript src='JS/JQuery/jquery-1.12.0.js' type='text/javascript'%3E%3C/script%3E"));
	    }
	</script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script type="text/javascript" src="JS/bootstrap.js"></script>
	<script type="text/javascript" src="JS/calendarBirthday.js"></script>
    <script type="text/javascript" src="JS/jqueryPhoto.js"></script>
    <script type="text/javascript" src="JS/registrationValid.js"></script>

</head>

<body>
<!-- header -->
<div class="container-fluid">
	<div class="row">
		<div class="header">	
			<div class="col-sm-1"></div> <!-- for padding -->
			<div class="col-sm-8">
				<div class="picture">
				</div>
				<div class="menu">
					<div class="item">
						<a href="/"> Start page </a>
					</div>
					<div class="item">
						<a href="about.html"> About program </a>
					</div>
					<div class="item">
						<a href="https://www.emc.com"> About EMC </a>
					</div>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="menu">
					<div class="item exit">
						<a href="/search.html"> Search </a>
					</div>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="menu">
					<div class="item exit">
						<a href="/exit"> Exit </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- header ends -->

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2"></div> <!-- for padding -->
		<div class="col-sm-8">
			<form id="application" enctype="multipart/form-data" action="newuser" method="post" class="form-horizontal" role="form">
				<div class="row profile">
					<!-- left column -->
					<div class="col-md-3">
						<div class="text-center">
							<img id="image" src="http://rosupport.com/demo2/assets/images/gotm.jpg" class="avatar img-rounded" alt="avatar">
							<h6>Upload a photo...</h6>
	          
							<input id="imgInput" title="Choose photo" type="file" name="photo" accept="image/*" data-filename-placement="inside">

							<script type="text/javascript">
								$('#imgInput').change(function(){	
									readURL(this, "#image");
								});
							</script>
						</div>
					</div>
      
					<!-- edit form column -->
					<div class="col-md-9 personal-info">
						<h3>Fill the application, please</h3>

						<input type="hidden" value="{{ .ID }}" name="id">

						<input type="hidden" value="{{ .RoleID }}" name="roleid">

						<!-- First name -->
						<div class="form-group">
							<label class="col-lg-3 control-label necessarylabel">First name:</label>
							<div class="col-lg-8">
								<input name="name" class="form-control necessaryfield" type="text" value="{{ .Name }}">
							</div>
						</div>

						<!-- Second name -->
						<div class="form-group">
							<label class="col-lg-3 control-label">Last name:</label>
							<div class="col-lg-8">
								<input name="surname" class="form-control" type="text" value="">
							</div>
						</div>

						<!-- Gender -->
						<div class="form-group">
							<label class="col-lg-3 control-label necessarylabel">Gender:</label>
							<div class="switch-field col-lg-8">
								<input type="radio" id="switch_left" name="sex" value="Male" checked="checked"/>
								<label for="switch_left">Male</label>
								<input type="radio" id="switch_right" name="sex" value="Female" />
								<label for="switch_right">Female</label>
							</div>
						</div>

						<!-- Phone -->
						<div class="form-group">
							<label class="col-lg-3 control-label necessarylabel">Phone:</label>
							<div class="col-lg-8">
								<input name="phone" class="form-control necessaryfield" type="text" value="" placeholder="ex: +7 999 123 21 22">
							</div>
						</div>

						<!-- Birthdate -->
						<div class="form-group">
							<label class="col-lg-3 control-label necessarylabel">Birthdate:</label>
								<div class="col-lg-8">
									<input name="birthdate" type="text" id="datepicker" name="birthdate" placeholder="Pick date" class="form-control necessaryfield">
								</div>
						</div>

						<!-- Job -->
						<div class="form-group">
							<label class="col-lg-3 control-label">Job:</label>
							<div class="col-lg-8">
								<input name="job" class="form-control" type="text" value="" placeholder="If you don't work then write nothing">
							</div>
						</div>

						<!-- University -->
						<div class="form-group">
							<label class="col-lg-3 control-label necessarylabel">I study(-ied) at:</label>
							<div class="col-lg-8">
								<textarea rows="2" cols="60" name="university" placeholder="Please, specify the name of your University, your department, your chair and your prospected specialization" class="form-control necessaryfield"></textarea>
							</div>
						</div>

						<!-- PI -->
						<div class="form-group">
							<label class="col-lg-3 control-label necessarylabel">My professional interests are:</label>
							<div class="col-lg-8">
								<textarea rows="2" cols="60" name="interests" placeholder="Please, specify them using commas (ex: C++, Databases, Time management)" class="form-control necessaryfield"></textarea>
							</div>
						</div>

						<!-- Hobbies -->
						<div class="form-group">
							<label class="col-lg-3 control-label">My hobbies are:</label>
							<div class="col-lg-8">
								<textarea rows="2" cols="60" name="hobbies" placeholder="Please, specify them using commas (ex: Chess, Football, Dancing)" class="form-control"></textarea>
							</div>
						</div>

						<!-- About -->
						<div class="form-group">
							<label class="col-lg-3 control-label">About me:</label>
							<div class="col-lg-8">
								<textarea rows="8" cols="60" name="about" placeholder="Write a short essay about yourself. Tell us about your background (where were you born, what has you done in your life, what are you aspirations regarding the Mentoring Program. Minimum 300, maxsimum 500 words)" class="form-control"></textarea>
							</div>
						</div>
						{{ if not (eq .RoleID 7) }}
						<!-- Buttons -->
						<div class="form-group">
							<label class="col-md-3 control-label"></label>
							<div class="col-md-8">
								<input type="submit" id="button" name="button" value="Send application" class="btn btn-primary">
								<span></span>
								<input type="reset" class="btn btn-default" value="Reset">
							</div>
						</div>
						{{ end }}

					</div>
				</div>

				{{ if eq .RoleID 7 }}				
				<div class="row profile">
					<div class="col-md-12">
						<h2>Let's know what kind of mentee would you prefer!</h2>

						<!-- PrefUniversity -->
						<div class="form-group">
							<label class="col-lg-3 control-label">Preferred university:</label>
							<div class="col-lg-8">
								<input name="prefuniversity" class="form-control" type="text" value="" placeholder="Mark if doesn't matter">
							</div>
						</div>

						<!-- PrefGender -->
						<div class="form-group">
							<label class="col-lg-3 control-label necessarylabel">Preferred gender:</label>
							<div class="col-lg-8">
								<div class="ui-select">
									<select id="prefsex" class="form-control necessaryfield" name="prefsex">
										<option value="Male">Male</option>
										<option value="Female">Female</option>
										<option value="Both">Both</option>
									</select>
								</div>
							</div>
						</div>

						<!-- PrefPI -->
						<div class="form-group">
							<label class="col-lg-3 control-label necessarylabel">Preferred interests:</label>
							<div class="col-lg-8">
								<textarea rows="2" cols="60" name="prefinterests" placeholder="Please, specify them using commas (ex: C++, Databases, Time management)" class="form-control necessaryfield"></textarea>
							</div>
						</div>

						<!-- Wish for lecture -->
						<div class="form-group">
							<label class="col-lg-3 control-label necessarylabel">Wish to hold a lecture?</label>
							<div class="col-lg-8">
								<textarea rows="2" cols="60" name="wish" placeholder="If you wish then write preferred theme. Also write if it should be lecture, seminar or training" class="form-control necessaryfield"></textarea>
							</div>
						</div>

						<!-- Wish for 2 -->
						<div class="form-group">
							<label class="col-lg-3 control-label necessarylabel">Ready for 2 mentees?</label>
							<div class="switch-field col-lg-8">
								<input type="radio" id="switch_left2" name="twomentee" value="1" checked="checked"/>
								<label for="switch_left2">Yes</label>
								<input type="radio" id="switch_right2" name="twomentee" value="0" />
								<label for="switch_right2">No</label>
							</div>
						</div>
						
						<!-- Buttons -->
						<div class="form-group">
							<label class="col-md-3 control-label"></label>
							<div class="col-md-8">
								<input type="submit" id="button" name="button" value="Send application" class="btn btn-primary">
								<span></span>
								<input type="reset" class="btn btn-default" value="Reset">
							</div>
						</div>
					</div>
				</div>
				{{ end }}
			</form>
		</div>
	</div>
	<!-- JAVASCRIPT -->
	<script src="JS/js/bootstrap.file-input.js"></script>
	<script>
	$(document).ready(function(){
	  $('input[type=file]').bootstrapFileInput();
	});
	</script>

</body>

