{{ define "search_foot" }}
		<!-- JAVASCRIPT -->
		<script src="JS/js/bootstrap.file-input.js"></script>
		<script>
		$(document).ready(function(){
		  $('input[type=file].avatar').bootstrapFileInput();
		});
		</script>

	</div>
</div>
</body>
{{ end }}