{{ define "search_controlmodal" }}
	<!--CHANGE PASSWORD FORM-->
		<div class="row modal fade" id="changepassword" tabindex="-1" role="dialog" aria-labelledby="changepasswordLabel" aria-hidden="true">
			<div class="col-md-8 col-md-offset-2">
				<form id="changepasswordform" method="post" class="form-horizontal ontop" role="form">

					<fieldset>
						<!-- Form Name -->
						<legend>Change Password</legend>

						<input type="hidden" name="email" value="{{ .User.Email }}">

						<div class="form-group">
							<span class="col-sm-10 col-sm-offset-1"><b>Remember, that password should be longer than 6 symbols and should contain of both english letters and numbers</b></span>
						</div>

						<!-- Old PWD Input -->
						<div class="form-group">
							<label class="col-sm-2 col-sm-offset-1 control-label" for="oldpassword">Old password:</label>
					 		<div class="col-sm-9">
					 			<input type="password" placeholder="Enter old password" name="oldpassword" class="necessaryfield form-control" id="oldpassword">
					 		</div>
				 		</div>

				 		<!-- New PWD Input -->
						<div class="form-group">
							<label class="col-sm-2 col-sm-offset-1 control-label" for="newpassword">New password:</label>
					 		<div class="col-sm-9">
					 			<input type="password" placeholder="Enter new password" name="newpassword" class="necessaryfield form-control" id="newpassword">
					 		</div>
				 		</div>

				 		<!-- New PWD Input -->
						<div class="form-group">
							<label class="col-sm-2 col-sm-offset-1 control-label" for="repeatpassword">Repeat password:</label>
					 		<div class="col-sm-9">
					 			<input type="password" placeholder="Repeat new password" name="repeatpassword" class="necessaryfield form-control" id="repeatpassword">
					 		</div>
				 		</div>

				 		<!-- Buttons -->
				 		<div class="form-group buttons-panel">
					 		<div class="col-sm-offset-2 col-sm-10">
					 			<div class="pull-right">
						 			<button type="submit" formaction="formcancel" class="btn btn-default" >Cancel</button>
						 			<button type="submit" id="sendchangepassword" formaction="changepassword" class="btn btn-primary">Save</button>
					 			</div>
					 		</div>
				 		</div>

				 	</fieldset>
				</form>
			</div>
		</div>
			<div class="col-md-2">
		</div>
	<!--END CHANGE PASSWORD FORM-->



	<!--NEW USER FORM-->
		<div class="row modal fade" id="newuser" tabindex="-1" role="dialog" aria-labelledby="newuserLabel" aria-hidden="true">
			<div class="col-md-8 col-md-offset-2">
				<form id="newuserform" enctype="multipart/form-data" action="newuser" method="post" class="form-horizontal ontop" role="form">

					<fieldset>

						<!-- Form Name -->
						<legend>User details</legend>

						<div class="col-sm-offset-1">

							<!-- Text input-->
							<!-- left column -->
							<div class="col-md-3 form-group text-center">
									<img id="newuserimage" src="http://rosupport.com/demo2/assets/images/gotm.jpg" class="avatar img-rounded col-sm-12" alt="avatar">
									<h6>Upload a photo...</h6>
			          
									<input id="newuserimgInput" class="avatar btn-primary" title="Choose photo" type="file" name="photo" accept="image/*" data-filename-placement="inside">

									<script type="text/javascript">
										$('#newuserimgInput').change(function(){
											readURL(this, "#newuserimage");
										});
									</script>
							</div>
		      
							<!-- edit form column -->
							<div class="col-md-9 personal-info">
								<h3>Fill the application, please</h3>

								<div class="form-group">
									<label class="col-lg-3 control-label necessarylabel">Email:</label>
									<div class="col-lg-8">
										<input name="email" class="form-control necessaryfield" type="text">
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label necessarylabel">Password:</label>
									<div class="col-lg-8">
										<input name="password" class="form-control necessaryfield" type="password" placeholder="At least 6 chars, both numbers and letters">
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label necessarylabel">First name:</label>
									<div class="col-lg-8">
										<input name="name" class="form-control necessaryfield" type="text">
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">Last name:</label>
									<div class="col-lg-8">
										<input name="surname" class="form-control" type="text">
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label necessarylabel">Gender:</label>
									<div class="switch-field col-lg-8">
										<input type="radio" id="switch_left" name="sex" value="Male" checked="checked"/>
										<label for="switch_left">Male</label>
										<input type="radio" id="switch_right" name="sex" value="Female" />
										<label for="switch_right">Female</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">Phone:</label>
									<div class="col-lg-8">
										<input name="phone" class="form-control" type="text" placeholder="ex: +7 999 123 21 22">
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">Birthdate:</label>
										<div class="col-lg-8">
											<input name="birthdate" type="text" id="datepicker" name="birthdate" placeholder="Pick date" class="form-control">
										</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">Job:</label>
									<div class="col-lg-8">
										<input name="job" class="form-control" type="text" value="" placeholder="If you don't work then write nothing">
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">University:</label>
									<div class="col-lg-8">
										<textarea rows="2" cols="60" name="university" placeholder="Please, specify the name of University, department, chair and prospected specialization" class="form-control"></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label necessarylabel">Role:</label>
									<div class="col-lg-8">
										<div class="ui-select">
											<select id="roleselect" name="roleselect" class="form-control">
												<option disabled>
			 										Role?
			 									</option>
												{{ range .Roles }}
												<option value="{{ .RoleID }}">{{ .Name }}</option>
												{{ end }}
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group buttons-panel" style="margin-right:-25px">
								<div class="col-lg-11">
									<div class="pull-right">
										<button type="submit" formaction="formcancel" class="btn btn-default">Cancel</button>
										<button type="reset" formaction="" class="btn btn-default">Reset</button>
										<button type="submit" id="newuserbutton" formaction="newuser" class="btn btn-primary">Save</button>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="col-md-2">
		</div>
	<!--END NEW USER FORM-->
{{ end }}