{{ define "search_editmodal" }}
		<!--DELETE USER FORM-->
		<div class="col-md-4 col-md-offset-4 modal fade" id="deleteuser" tabindex="-1" role="dialog" aria-labelledby="deleteuserLabel" aria-hidden="true">
			<form id="deleteuserform" action="deleteuser" method="post" class="form-horizontal ontop" role="form">
				<fieldset>
					<!-- Form Name -->
					<legend>Delete User</legend>

					<!-- Text input-->
					<div class="form-group">
						<div class="row">
							<span class="col-sm-10 col-sm-offset-1"><b>Are you sure that you want to delete that user?</b></span>
						</div>
						<div class="row">
							<h3 class="col-sm-10 col-sm-offset-1" id="delete_username"></h3>
						</div>
						<input type="hidden" id="delete_userid" name="userid">
					</div>

					<div class="form-group buttons-panel">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="pull-right">
								<button type="submit" formaction="formcancel" class="btn btn-default">Cancel</button>
								<button type="submit" id="deleteusersubmit_button" formaction="deleteuser" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>

				</fieldset>
			</form>
		</div><!-- /.col-lg-12 -->
		<!--END DELETE USER FORM-->
{{ end }}