<!doctype html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">		
	<title>EMC mentoring program</title> 

	<base href="/">

	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="css/profile.css" type="text/css">
	<link rel="stylesheet" href="css/header-style.css" type="text/css">
	<link rel="stylesheet" href="css/modals.css" type="text/css">
	<link rel="stylesheet" href="css/toggle.css" type="text/css">
	<link rel="stylesheet" href="css/necessary.css" type="text/css">
	<link rel="stylesheet" href="css/overflow-container.css" type="text/css">
	<link rel="stylesheet" href="css/search-style.css" type="text/css">


	<link href="css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" > 
		if (typeof jQuery == 'undefined'){
			alert("Fuck JQuery")
			document.write(unescape("%3Cscript src='JS/JQuery/jquery-1.12.0.js' type='text/javascript'%3E%3C/script%3E"));
		}
	</script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<!-- canvas-to-blob.min.js is only needed if you wish to resize images before upload.
     	This must be loaded before fileinput.min.js -->
	<script src="JS/plugins/canvas-to-blob.min.js" type="text/javascript"></script>
	<!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
	     This must be loaded before fileinput.min.js -->
	<script src="JS/plugins/sortable.min.js" type="text/javascript"></script>
	<!-- purify.min.js is only needed if you wish to purify HTML content in your preview for HTML files.
	     This must be loaded before fileinput.min.js -->
	<script src="JS/plugins/purify.min.js" type="text/javascript"></script>
	<!-- the main fileinput plugin file -->
	<script src="JS/fileinput.min.js"></script>

	<script type="text/javascript" src="JS/scrollspy.js"></script>
	<script type="text/javascript" src="JS/scrollspy-impl-search.js"></script>

	<script type="text/javascript" src="JS/bootstrap.js"></script>
	<script type="text/javascript" src="JS/search-dropdown.js"></script>
	<script type="text/javascript" src="JS/search.js"></script>
	<script type="text/javascript" src="JS/application_redirect.js"></script>
	<script type="text/javascript" src="JS/putUsername.js"></script>

	<!--New liner
	<script>
		$(document).ready(function() {
		    $('p').each(function() {
		    	$(this).html($(this).text().split("\n").join("<br>"));
		    });
		    /*instance for textarea is defined in putEventData.js*/
		});
	</script>
	-->
</head>

<body>
<!-- header -->
<div class="container-fluid">
	<div class="row">
		<div class="header">	
			<div class="col-sm-1"></div> <!-- for padding -->
			<div class="col-sm-8">
				<div class="picture">
				</div>
				<div class="menu">
					<div class="item">
						<a href="/"> Start page </a>
					</div>
					<div class="item">
						<a href="about.html"> About program </a>
					</div>
					<div class="item">
						<a href="https://www.emc.com"> About EMC </a>
					</div>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="menu">
					<div class="item exit">
						<a href="/search.html"> Search </a>
					</div>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="menu">
					<div class="item exit">
						<a href="/exit"> Exit </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- header ends -->

{{ $Worker := .User }}

<div class="container">
	<div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<div class="page-header">
					<div class="profile-userlabel">
						You:
					</div>
				</div>
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="{{ .User.PhotoURL }}" class="img-responsive img-rounded" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{ if eq .User.SurName "No surname" }}
							{{ .User.Name }}
						{{ else }}
							{{ .User.Name }} {{ .User.SurName }}
						{{ end }}
					</div>
					<hr>
					<div class="profile-usertitle-info">
						Working as:	{{ .User.RoleStr }}
					</div>
					<div class="profile-usertitle-info">
						Birthdate:	{{ .User.BD }}
					</div>
					<div class="profile-usertitle-info">
						Email:		{{ .User.Email }}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				{{ if eq .ProgramStarted false }}
				<hr>
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#startprogram" data-original-title><i class="glyphicon glyphicon-off"></i> Start program</button>
				</div>
				{{ else }}
				<hr>
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#finishprorgam" data-original-title><i class="glyphicon glyphicon-off"></i> Finish program</button>
				</div>
				{{ end }}
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<hr>
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="application.html">
							<i class="glyphicon glyphicon-edit"></i>
							Edit my profile </a>
						</li>
						<li>
							<a data-toggle="modal" data-target="#changepassword" data-original-title href="#changepassword">
							<i class="glyphicon glyphicon-lock"></i>
							Change password </a>
						</li>
						<li>
							<a data-toggle="modal" data-toggle="modal" data-target="#newuser" data-original-title href="#newuser">
							<i class="glyphicon glyphicon-plus-sign"></i>
							Add new user </a>
						</li>
						<li>
							<a href="search.html">
							<i class="glyphicon glyphicon-sort"></i>
							Edit user or delete him </a>
						</li>
						<li>
							<a href="changepair.html">
							<i class="glyphicon glyphicon-random"></i>
							Change pair </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
			<div class="search-content">

				 <!--TIMELINE WAS GOING HERE-->
				<div class="row page-header">
					<div class="search-header">
				        <div class="col-md-1">
	     					<div class="button-group">
	        					<button type="button" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>
								<ul class="dropdown-menu" id="role-dropdown">
									{{ range $index, $role := .Roles }}
	  								<li><a href="#" class="small" value="{{ $role.Name }}" tabIndex="-1"><input type="checkbox"/>&nbsp;{{ $role.Name }}</a></li>
	  								{{ end }}
								</ul>
							</div>
						</div>
						<div class="col-md-11">
				            <div class="input-group stylish-input-group">
				                <input type="text" class="form-control"  placeholder="Search" id="search_input">
				                <span class="input-group-addon">
				                    <button type="submit" id="search_button">
				                        <span class="glyphicon glyphicon-search"></span>
				                    </button>  
				                </span>
				            </div>
			        	</div>
					</div>
				</div>
				<!--search content start-->
			    <hgroup class="mb20">
					<h1>Search Results</h1>
					<h2 class="lead"><strong class="text-danger" id="results_counter">All</strong> results for the search for <strong class="text-danger" id="search_substring">empty string</strong></h2>	

					<input type="hidden" id="have_searched" value="0">							
				</hgroup>

				<ul class="search">
					{{ range $index, $element := .Users }}
					{{ if lt $index 5}}
			        <li class="search-result row" id="search-result-{{ $index }}">
			        {{ else }}
			        <li class="search-result row" id="search-result-{{ $index }}" style="display: none;">
					{{ end }}
						<div class="col-md-5">
							<div class="col-xs-12 col-sm-12 col-md-6">
								<a href="{{ $element.PhotoURL }}"><img src="{{ $element.PhotoURL }}" alt="Photo" class="img-rounded" /></a>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1">
								<ul class="meta-search">
									<li><i class="glyphicon glyphicon-gift"></i> <span id="bd-{{ $element.UserID }}">{{ $element.BD }}</span></li>
									<li><i class="glyphicon glyphicon-user"></i> <span id="sex-{{ $element.UserID }}">{{ $element.Sex }}</span></li>
									<li><i class="glyphicon glyphicon-tag"></i> <span id="role-{{ $element.UserID }}" class="role-class-for-search">{{ $element.RoleStr }}</span></li>
									<li><i class="glyphicon glyphicon-phone"></i> <span id="phone-{{ $element.UserID }}">{{ $element.Phone }}</span></li>
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-7">
							<h3>
								<a href="dash.html/userid={{ $element.UserID }}" id="link-{{ $element.UserID }}">
									{{ if eq $element.SurName "Unknown" }}
									{{ $element.Name }}
									{{ else }}
									{{ $element.Name }} {{ $element.SurName }}
									{{ end }}
								</a>
								<input type="hidden" value="{{ $element.UserID }}">
								<div class="btn-group pull-right" role="group">
									<button type="button" class="btn btn-warning btn-sm edituser_button"onclick="application({{ $element.UserID }})">
										<span class="glyphicon glyphicon-edit"></span>
									</button>

									{{ if eq $Worker.UserID $element.UserID }}
									<button type="button" class="btn btn-danger btn-sm disabled deleteuser_button" data-toggle="modal" data-target="#deleteuser" data-original-title>
										<span class="glyphicon glyphicon-trash"></span>
									</button>
									{{ else }}
									<button type="button" class="btn btn-danger btn-sm deleteuser_button" data-toggle="modal" data-target="#deleteuser" data-original-title>
										<span class="glyphicon glyphicon-trash"></span>
									</button>
									{{ end }}
								</div>
							</h3>
							<p>
								<b>University:</b>
								
								{{ $element.University }}
							</p>
							<p>
								<b>Job:</b>
								
								{{ $element.Job }}
							</p>
							<p>
								<b>Professional interests:</b>
								
								{{ $element.PI }}
							</p>
							<!--
							<p>{{ $element.Hobbies }}</p>
							<p>{{ $element.About }}</p>
							-->

							<!--
			                <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
			                -->
						</div>
						<span class="clearfix border"></span>
					</li>
					{{ end }}
				</div>
				<!--search content end-->
			</ul>
		</div>
{{ template "search_editmodal" . }}
{{ template "search_controlmodal" . }}
{{ template "search_foot" . }}